.main {
  background-image: url(./images/home2.webp);
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 98vw;
  height: 90vh;
}

.bannar {
  /* min-height: 10vh;
  min-width: 7vw; */
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(10, 10, 10, 70%);
  transform: translate(-50%, -50%);
}

#button {
  background-color: #7a724e;
  color: rgb(10, 10, 10);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
}

#button:hover {
  background-color: rgba(10, 10, 10, 70%);
  color: #7a724e;
  border: 2px solid #7a724e;
}

.slidecontainer {
  width: 100%;
}

.contain {
  position: relative;
  height: 150px;
  width: auto;
  margin: auto;
}

.contain img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.text-note {
  position: absolute;
  top: 0;
  line-height: 3vh;
  border-radius: 0px 0px 15px 0px;
  left: 0;
  background: rgba(10, 10, 10, 70%);
  color: white;
  padding: 5px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}